.tabs-component__header.no-padding {
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
}

.tabs-component__header--left.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.tabs-component__panels.no-padding {
  margin: 0 !important;
}